<div
	class="card shadow-sm"
	style="width: 18rem">
	<!-- Order ID -->
	<div class="card-header">Order #{{ order.id }}</div>

	<!-- Data of client: local client or Takwaway order -->
	<div
		*ngIf="
			isInstanceOfLocalOrder;
			then isLocalOrder;
			else isTakeAwayOrder
		"></div>

	<ng-template #isLocalOrder>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<i class="fa-solid fa-chair"></i>
				{{ order.numberTable }}
			</li>
		</ul>
	</ng-template>

	<ng-template #isTakeAwayOrder>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<i class="fa-solid fa-user"></i>
				{{ order.firstNameClient }}
				{{ order.lastNameClient }}
			</li>
			<li class="list-group-item">
				<i class="fa-solid fa-location-dot"></i>
				{{ order.addressClient }}
			</li>
			<li class="list-group-item">
				<i class="fa-solid fa-phone"></i>
				{{ order.phoneNumberClient }}
			</li>
		</ul>
	</ng-template>

	<!-- List of pizzas ordered -->
	<div class="my-3">
		<ul class="list-group list-group-flush">
			<li
				class="list-group-item list-pizza"
				style="font-weight: bold">
				<span
					class="span-fs"
					style="grid-area: name">
					<i class="fa-solid fa-pizza-slice"></i>
				</span>
				<span
					class="span-c"
					style="grid-area: quantity">
					<i class="fa-solid fa-hashtag"></i>
				</span>
				<span
					class="span-c"
					style="grid-area: price">
					<i class="fa-solid fa-euro-sign"></i>
				</span>
			</li>
			<li
				*ngFor="let pizza of order.pizzasOrdered"
				class="list-group-item list-pizza">
				<span class="span-fs">{{ pizza[0] }}</span>
				<span class="span-c"># {{ pizza[2] }}</span>
				<span class="span-fe">{{ pricePizza(pizza[1]) }}€</span>
			</li>
			<li
				class="list-group-item list-pizza"
				style="font-weight: bold">
				<span class="span-fs">TOT</span>
				<span class="span-c"># {{ totQuantityPizzas }}</span>
				<span class="span-fe">{{ totImportPizzas }}€</span>
			</li>
		</ul>
	</div>

	<!-- Button of Card -->
	<div class="buttons-container">
		<button
			type="button"
			class="btn btn-primary"
			[attr.disabled]="order.status >= 4 ? '' : null"
			style="flex-grow: 5"
			(click)="updateStatusOrder()">
			{{ statusButtonLabel() }}
		</button>
		<button
			type="button"
			class="btn btn-outline-danger"
			[attr.disabled]="order.status >= 2 ? '' : null"
			style="flex-grow: 1"
			(click)="deleteOrder()">
			<i class="fa-solid fa-trash"></i>
		</button>
	</div>
</div>
