<div class="container-form">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
      (change)="setIsTakeAway()"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >Take away</label
    >
  </div>

  <div *ngIf="!isTakeAway; else isTakeAwayComponent">
    <select class="form-select" (change)="setNumberTable($event)">
      <option selected>Select the table</option>
      <option *ngFor="let table of tablesDB" value="{{ table }}">
        {{ table }}
      </option>
    </select>
  </div>

  <ng-template #isTakeAwayComponent>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        (change)="setFirstNameClient($event)"
      />
    </div>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        (change)="setLastNameClient($event)"
      />
    </div>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Address"
        (change)="setAddressClient($event)"
      />
    </div>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Phone number"
        (change)="setPhoneNumberClient($event)"
      />
    </div>
  </ng-template>
</div>

<hr />

<div>
  <button type="button" class="btn btn-primary" (click)="addOrderForm()">
    Add
  </button>

  <div *ngFor="let orderForm of orderPizzaFormDB; let indexOrderForm = index">
    <select class="form-select" (change)="changePizza($event, indexOrderForm)">
      <option selected>Select pizza</option>
      <option *ngFor="let pizza of pizzasDB" value="{{ pizza[1] }}">
        {{ pizza[0] }}
      </option>
    </select>

    <input
      type="number"
      min="0"
      max="10"
      value="1"
      (change)="changeQuantity($event, indexOrderForm)"
    />
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteOrderForm(indexOrderForm)"
    >
      Delete
    </button>
  </div>

  <hr />

  <button type="button" class="btn btn-success" (click)="sendOrder()">
    Send Order
  </button>
</div>

<button (click)="printTest()">TEST BUTTON</button>
