<!-- FORM ORDER -->
<div class="container-form border border-light rounded-3 bg-white shadow p-3">
	<div>
		<!-- 
            Switch toggle:
            To change form:
                - true: when is take-away order
                - false: when is local order
        -->
		<div class="form-check form-switch">
			<input
				class="form-check-input"
				type="checkbox"
				role="switch"
				id="flexSwitchCheckDefault"
				(change)="setIsTakeAway()" />
			<label
				class="form-check-label"
				for="flexSwitchCheckDefault">
				Take away
			</label>
		</div>

		<!-- 
            The two components that change based on the state of the Boolean "isTakeAway"
        -->
		<div *ngIf="!isTakeAway; else isTakeAwayComponent">
			<!--Local order-->
			<select
				class="form-select"
				(change)="setNumberTable($event)">
				<option selected>Select the table</option>
				<option
					*ngFor="let table of tablesDB"
					value="{{ table }}">
					{{ table }}
				</option>
			</select>
		</div>

		<!--Take-away order-->
		<ng-template #isTakeAwayComponent>
			<div class="container-client-data">
				<div>
					<input
						type="text"
						class="form-control"
						placeholder="First name"
						(change)="setFirstNameClient($event)"
						[value]="firstNameClient" />
				</div>
				<div>
					<input
						type="text"
						class="form-control"
						placeholder="Last name"
						(change)="setLastNameClient($event)"
						[value]="lastNameClient" />
				</div>
				<div>
					<input
						type="text"
						class="form-control"
						placeholder="Address"
						(change)="setAddressClient($event)"
						[value]="addressClient" />
				</div>
				<div>
					<input
						type="text"
						class="form-control"
						placeholder="Phone number"
						(change)="setPhoneNumberClient($event)"
						[value]="phoneNumberClient" />
				</div>
			</div>
		</ng-template>
	</div>

	<hr />

	<div>
		<!--Button to add new pizza in the order-->
		<button
			type="button"
			class="btn btn-primary"
			(click)="addOrderForm()">
			Add pizza
		</button>

		<!--Add new field for pizza information-->
		<div
			id="order-pizza"
			class="my-3"
			*ngFor="let orderForm of orderedPizzasList; let indexOrderForm = index">
			<!--List of pizzas-->
			<select
				class="form-select"
				style="grid-area: select-pizza"
				(change)="changePizza($event, indexOrderForm)">
				<option selected>Select pizza</option>
				<option
					*ngFor="let pizza of pizzasDB"
					value="{{ pizza[1] }}">
					{{ pizza[0] }}
				</option>
			</select>

			<!--Quantity of pizza-->
			<input
				style="grid-area: quantity-pizza"
				type="number"
				min="1"
				max="10"
				value="1"
				(change)="changeQuantity($event, indexOrderForm)" />

			<!--Delete pizza from order-->
			<button
				style="grid-area: delete-pizza"
				type="button"
				class="btn btn-outline-danger"
				(click)="deleteOrderForm(indexOrderForm)">
				Delete
			</button>
		</div>

		<hr />

		<!--Send order button-->
		<button
			type="button"
			class="btn btn-success"
			(click)="sendOrder()">
			Send Order
		</button>
	</div>
</div>
