<div>
	<div
		*ngFor="let order of listOfOrders"
		class="card"
		style="width: 18rem">
		<div class="card-header">Order #{{ order.id }}</div>

		<!-- Data of client -->
		<div *ngIf="isInstanceOfLocalOrder(order); else isTakeAwayOrder">
			<ul class="list-group">
				<li class="list-group-item">Table: {{ order.numberTable }}</li>
			</ul>
		</div>
		<ng-template #isTakeAwayOrder>
			<ul class="list-group">
				<li class="list-group-item">First name: {{ order.firstNameClient }}</li>
				<li class="list-group-item">Last name: {{ order.lastNameClient }}</li>
				<li class="list-group-item">Address: {{ order.addressClient }}</li>
				<li class="list-group-item">
					Phone Number: {{ order.phoneNumberClient }}
				</li>
			</ul>
		</ng-template>

		<div>
			<ul class="list-group">
				<li
					*ngFor="let pizza of order.pizzasOrdered"
					class="list-group-item">
					{{ pizza[0] }} {{ pizza[1] }}€ n°{{ pizza[2] }}
				</li>
			</ul>
		</div>

		<div>
			<button
				type="button"
				class="btn btn-primary">
				Status
			</button>
			<button
				type="button"
				class="btn btn-outline-danger">
				Delete
			</button>
		</div>
	</div>
</div>
<!--
<div>
	<div *ngFor="let order of listOfOrders">
		<div *ngIf="isInstanceOfLocalOrder(order); else isTakeAwayOrder">
			<div
				class="card"
				style="width: 18rem">
				<div class="card-header">Order #{{ order.id }}</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Table: {{ order.numberTable }}</li>
					</ul>
					<hr />
					<div>
					</div>
				</div>
			</div>
		</div>
		<ng-template #isTakeAwayOrder>
			<div
				class="card"
				style="width: 18rem">
				<div class="card-header">Order #{{ order.id }}</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							First name: {{ order.firstNameClient }}
						</li>
						<li class="list-group-item">
							Last name: {{ order.lastNameClient }}
						</li>
						<li class="list-group-item">Address: {{ order.addressClient }}</li>
						<li class="list-group-item">
							Phone number: {{ order.phoneNumber }}
						</li>
					</ul>
					<hr />
					<div>
						<button
							type="button"
							class="btn btn-primary">
							Status
						</button>
						<button
							type="button"
							class="btn btn-outline-danger">
							Delete
						</button>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</div>
-->
